# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare binary files
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
